@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html{
    overflow: auto;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}

body {
    font-family: 'Arial', sans-serif;
}

html::-webkit-scrollbar {
    display: none;
}

.cover-section {
    position: relative;
    height: 50vh;
    background: url('../images/backend.png') no-repeat center center/cover;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 5px 20px black;
}

.cover-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); 
    z-index: 1;
}

.cover-section * {
    position: relative;
    z-index: 2;
}

.banner{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0vh;
    height: 25vh;
    background: url("../images/banner.png") no-repeat center center/cover;
    z-index: 1;
}

#skills ul {
    list-style-type: none;
    padding: 0;
}

.name{
    padding-left: 1rem;
    font-family: "Montserrat", sans-serif;
    color: cadetblue;
    font-weight: 500;
    font-size: 1.75rem;
}

.contact-section{
    background-color: cadetblue;
    font-size: 1.1rem;
    color: white;
}

.accent{
    color: cadetblue;
}

.card-title {
    font-weight: bold;
}

.index-image{
    width: 10em; 
    height: 10em;
    padding: 1rem;
    object-fit: cover;
}

.about-image{
    width: 18.5rem;
    height: 12rem;
    object-fit: cover;
}

.project-image{
    width: 15rem;
    height: 15rem;
    padding: 1rem;
    object-fit: cover;
}

.cv-button{
    box-shadow: 0px 0px 15px rgb(10, 160, 43);
}

@keyframes float {
    0% {
        opacity: 0%;
        transform: translateY(50px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}

@keyframes float-loop {
    0% {
        transform: translateY(7px);
    }
    50% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(7px);
    }
}

.floating {
    animation: float 2s ease-out forwards;
}

.floating-loop {
    animation: float-loop 3s ease-in-out infinite;
}

.floating-staggered {
    opacity: 0%;
    animation: float 1.5s ease-out forwards;
}

/* Delayed animations for each element */
.floating-staggered:nth-child(1) {
    animation-delay: 0s; /* First element starts immediately */
}

.floating-staggered:nth-child(2) {
    animation-delay: 0.3s; /* Second element starts 0.5s after the first */
}

.floating-staggered:nth-child(3) {
    animation-delay: 0.6s; /* Third element starts 1s after the first */
}

